<aside class="main-sidebar" style="border-right: 1px solid #d1d8dd;position: fixed;">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu" id="menu123">
            <li class="header">WELCOME ADMIN </li>
            


            <li class="treeview">
                <a href="#modules/Loyalty">
                    <i class="fa fa-line-chart"></i>
                    <span>Marketing</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
            </li>
                

                        <li class="treeview">
                <a href="#">
                    <i class="fa fa-user"></i>
                    <span>Lead</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu" style="display: none;">
                    <li>
                        <a href="#List/Lead">
                            <i class="fa fa-angle-right"></i>Lead</a>
                    </li>
                    <li>
                        <a href="#List/Opportunity">
                            <i class="fa fa-angle-right"></i>Opportunity</a>
                    </li>
                    <li>
                        <a href="#List/Customer">
                            <i class="fa fa-angle-right"></i>Customer</a>
                    </li>
                    <li>
                        <a href="#List/Contact">
                            <i class="fa fa-angle-right"></i>Contact</a>
                    </li>
                    <li>
                        <a href="#query-report/Campaign Efficiency">
                            <i class="fa fa-angle-right"></i>Campaign Efficiency</a>
                    </li>
                    <li>
                        <a href="#query-report/Lead Owner Efficiency">
                            <i class="fa fa-angle-right"></i>Lead Owner Efficiency</a>
                    </li>
                    <li>
                        <a href="#query-report/Inactive Customers">
                            <i class="fa fa-angle-right"></i>Inactive Customers</a>
                    </li>
                    <li>
                        <a href="#query-report/Lead Details">
                            <i class="fa fa-angle-right"></i>Lead Details</a>
                    </li>
                    <li>
                        <a href="#Form/SMS Center">
                            <i class="fa fa-angle-right"></i>SMS Center</a>
                    </li>
                    <li>
                        <a href="#List/SMS Log">
                            <i class="fa fa-angle-right"></i>SMS Log</a>
                    </li>
                </ul>
            </li>
            
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-calendar-o"></i>
                    <span>Student</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu" style="display: none;">
                    <li>
                        <a href="#List/Student">
                            <i class="fa fa-angle-right"></i>Student</a>
                    </li>
                    <li>
                        <a href="#List/Student Applicant">
                            <i class="fa fa-angle-right"></i>Student Applicant</a>
                    </li>
                    <li>
                        <a href="#Form/Program Enrollment Tool">
                            <i class="fa fa-angle-right"></i>Program Enrollment Tool</a>
                    </li>
                    <li>
                        <a href="#List/Student Group">
                            <i class="fa fa-angle-right"></i>Student Group</a>
                    </li>
                    <li>
                        <a href="#Form/Student Group Creation Tool">
                            <i class="fa fa-angle-right"></i>Student Group Creation Tool</a>
                    </li>
                    <li>
                        <a href="#List/Student Attendance">
                            <i class="fa fa-angle-right"></i>Student Attendance</a>
                    </li>
                    <li>
                        <a href="#List/Student Leave Application">
                            <i class="fa fa-angle-right"></i>Student Leave Application</a>
                    </li>
                    <li>
                        <a href="#Form/Student Attendance Tool">
                            <i class="fa fa-angle-right"></i>Student Attendance Tool</a>
                    </li>
                </ul>
            </li>
            

                        <li class="treeview">
                <a href="#">
                    <i class="fa fa-money"></i>
                    <span>Fees</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu" style="display: none;">
                    <li>
                        <a href="#List/Fees">
                            <i class="fa fa-angle-right"></i>Fees</a>
                    </li>
                    <li>
                        <a href="#List/Fee Schedule">
                            <i class="fa fa-angle-right"></i>Fee Schedule</a>
                    </li>
                    <li>
                        <a href="#List/Fee Structure">
                            <i class="fa fa-angle-right"></i>Fee Structure</a>
                    </li>
                    <li>
                        <a href="#List/Fee Category">
                            <i class="fa fa-angle-right"></i>Fee Category</a>
                    </li>
                    <li>
                        <a href="#query-report/Student Fee Collection">
                            <i class="fa fa-angle-right"></i>Student Fee Collection</a>
                    </li>
                    
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-file-text-o"></i>
                    <span>Learning</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu" style="display: none;">
                    <li>
                        <a href="#List/Chapter">
                            <i class="fa fa-angle-right"></i>Chapter</a>
                    </li>
                    <li>
                        <a href="#List/Section">
                            <i class="fa fa-angle-right"></i>Section</a>
                    </li>
                    <li>
                        <a href="#List/Questions">
                            <i class="fa fa-angle-right"></i>Questions</a>
                    </li>
                    <li>
                        <a href="#List/Examination Criteria">
                            <i class="fa fa-angle-right"></i>Examination Criteria</a>
                    </li>
                    <li>
                        <a href="#List/Exam">
                            <i class="fa fa-angle-right"></i>Exam</a>
                    </li>
                </ul>
            </li>
             
             <li class="treeview">
                <a href="#">
                    <i class="fa fa-file-text-o"></i>
                    <span>Academics</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu" style="display: none;">
                    <li>
                        <a href="#List/Program">
                            <i class="fa fa-angle-right"></i>Program</a>
                    </li>
                    <li>
                        <a href="#List/Staff Timesheet">
                            <i class="fa fa-angle-right"></i>Staff Timesheet</a>
                    </li>
                    <li>
                        <a href="#List/Instructor">
                            <i class="fa fa-angle-right"></i>Instructor</a>
                    </li>
                    <li>
                        <a href="#List/Room">
                            <i class="fa fa-angle-right"></i>Room</a>
                    </li>
                    <li>
                        <a href="#List/Student Category">
                            <i class="fa fa-angle-right"></i>Student Category</a>
                    </li>
                     <li>
                        <a href="#List/Student Batch Name">
                            <i class="fa fa-angle-right"></i>Student Batch Name</a>
                    </li>
                    <li>
                        <a href="#List/Grading Scale">
                            <i class="fa fa-angle-right"></i>Grading Scale</a>
                    </li>
                    <li>
                        <a href="#List/Academic Term">
                            <i class="fa fa-angle-right"></i>Academic Term</a>
                    </li>
                    <li>
                        <a href="#Form/Academic Yea">
                            <i class="fa fa-angle-right"></i>Academic Year</a>
                    </li>
                    <li>
                        <a href="#List/Exam">
                            <i class="fa fa-angle-right"></i>Education Settings</a>
                    </li>
                </ul>
            </li> 

            <li class="treeview">
                <a href="#">
                    <i class="fa fa-users"></i>
                    <span>Assessment</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu" style="display: none;">
                    <li>
                        <a href="#List/Assessment Plan">
                            <i class="fa fa-angle-right"></i>Assessment Plan</a>
                    </li>
                    <li>
                        <a href="#List/Assessment Group">
                            <i class="fa fa-angle-right"></i>Assessment Group</a>
                    </li>
                    <li>
                        <a href="#List/Assessment Result">
                            <i class="fa fa-angle-right"></i>Assessment Result</a>
                    </li>
                    <li>
                        <a href="#List/Assessment Criteria">
                            <i class="fa fa-angle-right"></i>Assessment Criteria</a>
                    </li>
                    <li>
                        <a href="#List/Assessment Criteria Group">
                            <i class="fa fa-angle-right"></i>Assessment Criteria Group</a>
                    </li>
                    <li>
                        <a href="#Form/Assessment Result Tool">
                            <i class="fa fa-angle-right"></i>Assessment Result Tool</a>
                    </li>
                    <li>
                        <a href="#query-report/Course wise Assessment Report">
                            <i class="fa fa-angle-right"></i>Course wise Report</a>
                    </li>
                    <li>
                        <a href="#query-report/Assessment Plan Status">
                            <i class="fa fa-angle-right"></i>Assessment Plan Status</a>
                    </li>
                    
                </ul>
            </li>   

 
                        
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-user"></i>
                    <span>Human Resources</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu" style="display: none;">
                    <li>
                        <a href="#List/Employee">
                            <i class="fa fa-angle-right"></i>Employee</a>
                    </li>
                    <li>
                        <a href="#Form/Employee Attendance Tool">
                            <i class="fa fa-angle-right"></i>Employee Attendance Tool</a>
                    </li>
                    <li>
                        <a href="#List/Attendance">
                            <i class="fa fa-angle-right"></i>Attendance</a>
                    </li>
                    <li>
                        <a href="#List/Job Applicant">
                            <i class="fa fa-angle-right"></i>Job Applicant</a>
                    </li>
                    <li>
                        <a href="#List/Job Opening">
                            <i class="fa fa-angle-right"></i>Job Opening</a>
                    </li>
                    <li>
                        <a href="#List/Leave Application">
                            <i class="fa fa-angle-right"></i>Leave Application</a>
                    </li>
                    <li>
                        <a href="#Form/Leave Allocation Tool">
                            <i class="fa fa-angle-right"></i>Leave Allocation Tool</a>
                    </li>
                    <li>
                        <a href="#List/Holiday List">
                            <i class="fa fa-angle-right"></i>Holiday List</a>
                    </li>
                    <li>
                        <a href="#List/Salary Slip">
                            <i class="fa fa-angle-right"></i>Salary Slip</a>
                    </li>
                    <li>
                        <a href="#List/Salary Structure">
                            <i class="fa fa-angle-right"></i>Salary Structure</a>
                    </li>
                    <li>
                        <a href="#List/Expense Claim">
                            <i class="fa fa-angle-right"></i>Expense Claim</a>
                    </li>
                    <li>
                        <a href="#List/Appraisal">
                            <i class="fa fa-angle-right"></i>Appraisal</a>
                    </li>
                </ul>
            </li>
           

            <li class="treeview">
                <a href="#">
                    <i class="fa fa-wrench"></i>
                    <span>Administration</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu" style="display: none;">
                    <li>
                        <a href="#List/User">
                            <i class="fa fa-angle-right"></i>User</a>
                    </li>
                    <li>
                        <a href="#List/Role">
                            <i class="fa fa-angle-right"></i>Role</a>
                    </li>
                    <li>
                        <a href="##permission-manager">
                            <i class="fa fa-angle-right"></i>Role Permissions Manager</a>
                    </li>
                </ul>
            </li>

        </ul>
    </section>
    <!-- /.sidebar -->
</aside>
<div class="overlay">
    <div>