<footer id="footer" class="footer" data-bg-color="#20232E" style="background: rgb(32, 35, 46) !important;">
    <div class="container pt-60 pb-20">
      <div class="col-sm-6 col-md-3">
        <div class="widget dark">
          <img alt="" src="http://engagex.tridotstech.com/files/logo-white.png">          
          <p class="mt-20">No-100,Lake view, kundrathur main road, porur Chennai-600 116.</p>
          <ul class="list-inline">
            <li class="m-0 pl-10 pr-10"> <i class="fa fa-phone mr-5"></i> <a href="#">+91 44428 33036</a> </li>
            <li class="m-0 pl-10 pr-10"> <i class="fa fa-envelope-o mr-5"></i> <a href="#">info@valiantsystems.com</a> </li>
            <li class="m-0 pl-10 pr-10"> <i class="fa fa-globe mr-5"></i> <a href="#">www.valiantsystems.com</a> </li>
          </ul> <ul class="styled-icons icon-sm icon-dark icon-theme-colored2 icon-circled clearfix mt-10">
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-vk"></i></a></li>
            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="widget dark">
          <h4 class="widget-title line-bottom-theme-colored2">Useful Links</h4>
          <div class="row clearfix">
            <div class="col-xs-12 col-sm-6 col-md-6">
              <ul class="footer-link">
                <li><a href="#">Home</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Latest Works</a></li>
                <li><a href="#">Our Blog</a></li>
                <li><a href="#">FAQ</a></li>
              </ul>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6">
              <ul class="footer-link">
                <li><a href="#">Business</a></li>
                <li><a href="#">Finance</a></li>
                <li><a href="#">Consulting</a></li>
                <li><a href="#">Insurance</a></li>
                <li><a href="#">Professional</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="widget dark">
          <h4 class="widget-title line-bottom-theme-colored2">Latest News</h4>
          <div class="latest-posts">
            <article class="post media-post clearfix pb-0 mb-10">
              <!-- <a class="post-thumb" href="#"><img src="images/blog/ln1.jpg" alt=""></a> -->
              <div class="post-right">
                <h5 class="post-title mt-0 mb-5"><a href="#">PHP Learning</a></h5>
                <p class="post-date mb-0 font-12">Mar 08, 2015</p>
              </div>
            </article>
            <article class="post media-post clearfix pb-0 mb-10">
              <!-- <a class="post-thumb" href="#"><img src="images/blog/ln2.jpg" alt=""></a> -->
              <div class="post-right">
                <h5 class="post-title mt-0 mb-5"><a href="#">Web Development</a></h5>
                <p class="post-date mb-0 font-12">Mar 08, 2015</p>
              </div>
            </article>
            <article class="post media-post clearfix pb-0 mb-10">
              <!-- <a class="post-thumb" href="#"><img src="images/blog/ln3.jpg" alt=""></a> -->
              <div class="post-right">
                <h5 class="post-title mt-0 mb-5"><a href="#">Spoken English</a></h5>
                <p class="post-date mb-0 font-12">Mar 08, 2015</p>
              </div>
            </article>
          </div>
        </div>
      </div>
<!--       <div class="col-sm-6 col-md-3">
        <div class="widget dark">
          <h4 class="widget-title line-bottom-theme-colored2">Opening Hours</h4>
          <div class="opening-hours">
            <ul class="list-border">
              <li class="clearfix"> <span> Mon - Tues :  </span>
                <div class="value pull-right"> 6.00 am - 10.00 pm </div>
              </li>
              <li class="clearfix"> <span> Wednes - Thurs :</span>
                <div class="value pull-right"> 8.00 am - 6.00 pm </div>
              </li>
              <li class="clearfix"> <span> Fri : </span>
                <div class="value pull-right"> 3.00 pm - 8.00 pm </div>
              </li>
              <li class="clearfix"> <span> Sun : </span>
                <div class="value pull-right bg-theme-colored2 text-white closed"> Closed </div>
              </li>
            </ul>
          </div>
        </div>
      </div> -->
    </div>
    <div class="footer-bottom" data-bg-color="#1B1D26" style="background: rgb(27, 29, 38) !important;">
      <div class="container pt-20 pb-20">
        <div class="row">
          <div class="col-md-6">
            <p class="font-14 sm-text-center m-0">Copyright ©2018 <span class="text-theme-colored2">Valiant</span>. All Rights Reserved</p>
          </div>
          <div class="col-md-6 text-right">
            <div class="widget no-border m-0">
              <ul class="list-inline sm-text-center mt-5 font-14">
                <li>
                  <a href="#">FAQ</a>
                </li>
                <li>|</li>
                <li>
                  <a href="#">Help Desk</a>
                </li>
                <li>|</li>
                <li>
                  <a href="#">Support</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>


  