<header id="header" class="header">
    <div class="header-top bg-theme-colored border-top-theme-colored2-2px sm-text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="widget">
                        <ul class="styled-icons icon-sm icon-white">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
                <!--         <div class="col-md-6">
                    <div id="side-panel-trigger" class="side-panel-trigger ml-15 mt-8 pull-right sm-pull-none"><a href="#"><i class="fa fa-bars font-24"></i></a>
                    </div>
                    <div class="widget">
                        <ul class="list-inline text-right flip sm-text-center">
                            <li>
                                <a class="text-white" href="#">FAQ</a>
                            </li>
                            <li class="text-white">|</li>
                            <li>
                                <a class="text-white" href="#">Help Desk</a>
                            </li>
                            <li class="text-white">|</li>
                            <li>
                                <a class="text-white" href="#">Support</a>
                            </li>
                        </ul>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
    <div class="header-nav">
        <div class="header-nav-wrapper navbar-scrolltofixed bg-white" style="z-index: auto; position: static; top: auto;">
            <div class="container">
                <nav id="menuzord-right" class="menuzord default theme-colored menuzord-responsive"><a href="javascript:void(0)" class="showhide" style="display: none;"><em></em><em></em><em></em></a><a class="menuzord-brand pull-left flip mt-20 mt-sm-10 mb-sm-20 pt-5" href="#" style="    margin-top: 4px !important;"><img src="http://engagex.tridotstech.com/files/Valiant-logo-2-final.png" alt="" style="    height: 58px;"></a>
                    <ul class="menuzord-menu onepage-nav menuzord-right menuzord-indented scrollable" style="max-height: 400px;">
                        <li class="current active"><a href="#home">Home</a></li>
                        <li class=""><a href="#features">Features</a></li>
                        <li class=""><a href="#course">Course</a></li>
                        <li class=""><a href="#about">About</a></li>
                        <!-- <li class=""><a href="#team">Team</a></li> -->
                        <!-- <li><a href="#blog">Blog</a></li> -->
                        <li><a href="/Student Login">Login</a></li>
                        
                        <li class="scrollable-fix"></li>
                    </ul>
                </nav>
            </div>
        </div>
        <div style="display: none; width: 1440px; height: 84px; float: none;"></div>
    </div>
</header>
