<section class="parallax divider layer-overlay overlay-dark-7" data-bg-img="images/bg/bg1.jpg" data-parallax-ratio="0.4" style="background: url('http://engagex.tridotstech.com/files/bg1.jpg') no-repeat; background-position: 50% 36px;">
    <div class="container pt-80 pb-90">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <h3 class="text-white font-38 font-weight-700 mt-10 mb-0"> See Our Recent  <span class="text-theme-colored2">Activities</span></h3>
                <!-- Mailchimp Subscription Form-->
                <form id="#" class="newsletter-form max-width-535 mt-10" novalidate="true">
                    <label for="mce-EMAIL"></label>
                    <div class="input-group">
                        <input type="email" id="mce-EMAIL" data-height="45px" class="form-control input-lg" placeholder="Your Email" name="EMAIL" value="" style="height: 45px;">
                        <span class="input-group-btn">
                  <button type="submit" class="btn btn-colored btn-theme-colored2 btn-lg m-0" data-height="45px" style="height: 45px;">Subscribe</button>
                </span>
                    </div>
                </form>
            

            </div>
        </div>
    </div>
</section>