<section id="features" class="bg-silver-deep">
      <div class="container pb-50" style="    padding-top: 70px;">
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-4 mb-sm-30">
            <div class="feature-box text-center bg-silver-light p-30 pb-20">
              <div class="feature-icon">
                <img src="http://engagex.tridotstech.com/files/1.png" alt="">
              </div>
              <div class="feature-title">
                <h3>Online Course Facilities</h3>
                <p>Online courses in facilities management are geared toward facility managers, facility planners, architectural technicians, service consultants, engineers and other professionals working in the field. </p>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 mb-sm-30">
            <div class="feature-box text-center bg-silver-light p-30 pb-20" >
              <div class="feature-icon">
                <img src="http://engagex.tridotstech.com/files/2p.png" alt="">
              </div>
              <div class="feature-title">
                <h3>Assign leads</h3>
                <p>Rank leads to easily focus on those who matter the most. Prioritize followups based on those who are sales-ready .Save time and resources by automatically assigning leads to the right sales.</p>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="feature-box text-center bg-silver-light p-30 pb-20">
              <div class="feature-icon">
                <img src="http://engagex.tridotstech.com/files/3.png" alt="">
              </div>
              <div class="feature-title">
                <h3>Schedule follow ups</h3>
                <p>Never miss out on crucial follow-ups again.Schedule tasks and appointments, and get email alerts to remind you of it. These courses are usually part of a degree or certificate program.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>


