<section id="course" class="bg-silver-light">
      <div class="container" style="    padding-top: 70px;    padding-bottom: 70px;">
        <div class="section-title mb-40">
          <div class="row">
            <div class="col-md-12">
              <h2 class="title text-uppercase mb-5">Popular <span class="text-theme-colored2">Courses</span></h2>
              <h5 class="font-16 text-gray-darkgray mt-5">Choose your Desired Course</h5>
            </div>
          </div>
        </div>
        <div class="section-content">
          <div class="row">
            <div class="col-md-12">
              <div class="owl-carousel-3col owl-nav-top owl-carousel owl-theme owl-loaded owl-drag" data-nav="tru">
                
                
                
                
              <div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(-1925px, 0px, 0px); transition: 0.25s; width: 3850px;"><div class="owl-item cloned" style="width: 370px; margin-right: 15px;"><div class="item">
                  <div class="course-single-item bg-white border-1px clearfix">
                    <div class="course-thumb">
                      <img class="img-fullwidth" alt="" src="http://engagex.tridotstech.com/files/sm2.jpg">
                      <div class="course-top-meta">
                        <ul class="list-inline">
                          <li><i class="ficon-heart font-14"></i>224 Likes</li>
                          <li><i class="lnr lnr-bullhorn font-14"></i>84 Share</li>
                        </ul>
                      </div>
                    </div>
                    <div class="course-details clearfix p-20 pt-15">
                      <div class="course-top-part">
                        <a href="/test"><h4 class="mt-5 mb-5">Nural Networking Course</h4></a>
                        <h5 class="text-gray font-12 mt-0">26th JUNE</h5>
                      </div>
                      <p class="course-description mt-15 mb-0">Lorem ipsum dolor sit amet, consec sectet urad cing elit. Nobis commodi esse aliquam eligend reprehenderit, numquam a odio</p>
                      <div class="author-thumb">
                        <img src="http://engagex.tridotstech.com/files/xs1.jpg" alt="" class="img-circle">
                      </div>
                    </div>
                    <div class="course-meta">
                      <ul class="list-inline">
                        <li><i class="lnr lnr-users font-20"></i>24 Seats</li>
                        <li><i class="ficon-clock font-18"></i>3 Hours</li>
                      </ul>
                      <div class="course-tag">
                        <h5>$240</h5>
                      </div>
                    </div>
                  </div>
                </div></div><div class="owl-item cloned" style="width: 370px; margin-right: 15px;"><div class="item">
                  <div class="course-single-item bg-white border-1px clearfix">
                    <div class="course-thumb">
                      <img class="img-fullwidth" alt="" src="http://engagex.tridotstech.com/files/sm3.jpg">
                      <div class="course-top-meta">
                        <ul class="list-inline">
                          <li><i class="ficon-heart font-14"></i>224 Likes</li>
                          <li><i class="lnr lnr-bullhorn font-14"></i>84 Share</li>
                        </ul>
                      </div>
                    </div>
                    <div class="course-details clearfix p-20 pt-15">
                      <div class="course-top-part">
                        <a href="/test"><h4 class="mt-5 mb-5">Nural Networking Course</h4></a>
                        <h5 class="text-gray font-12 mt-0">26th JUNE</h5>
                      </div>
                      <p class="course-description mt-15 mb-0">Lorem ipsum dolor sit amet, consec sectet urad cing elit. Nobis commodi esse aliquam eligend reprehenderit, numquam a odio</p>
                      <div class="author-thumb">
                        <img src="http://engagex.tridotstech.com/files/xs1.jpg" alt="" class="img-circle">
                      </div>
                    </div>
                    <div class="course-meta">
                      <ul class="list-inline">
                        <li><i class="lnr lnr-users font-20"></i>24 Seats</li>
                        <li><i class="ficon-clock font-18"></i>3 Hours</li>
                      </ul>
                      <div class="course-tag">
                        <h5>$360</h5>
                      </div>
                    </div>
                  </div>
                </div></div><div class="owl-item cloned" style="width: 370px; margin-right: 15px;"><div class="item">
                  <div class="course-single-item bg-white border-1px clearfix">
                    <div class="course-thumb">
                      <img class="img-fullwidth" alt="" src="http://engagex.tridotstech.com/files/sm4.jpg">
                      <div class="course-top-meta">
                        <ul class="list-inline">
                          <li><i class="ficon-heart font-14"></i>224 Likes</li>
                          <li><i class="lnr lnr-bullhorn font-14"></i>84 Share</li>
                        </ul>
                      </div>
                    </div>
                    <div class="course-details clearfix p-20 pt-15">
                      <div class="course-top-part">
                        <a href="/test"><h4 class="mt-5 mb-5">Nural Networking Course</h4></a>
                        <h5 class="text-gray font-12 mt-0">26th JUNE</h5>
                      </div>
                      <p class="course-description mt-15 mb-0">Lorem ipsum dolor sit amet, consec sectet urad cing elit. Nobis commodi esse aliquam eligend reprehenderit, numquam a odio</p>
                      <div class="author-thumb">
                        <img src="http://engagex.tridotstech.com/files/xs1.jpg" alt="" class="img-circle">
                      </div>
                    </div>
                    <div class="course-meta">
                      <ul class="list-inline">
                        <li><i class="lnr lnr-users font-20"></i>24 Seats</li>
                        <li><i class="ficon-clock font-18"></i>3 Hours</li>
                      </ul>
                      <div class="course-tag">
                        <h5>Free</h5>
                      </div>
                    </div>
                  </div>
                </div></div><div class="owl-item" style="width: 370px; margin-right: 15px;"><div class="item">
                  <div class="course-single-item bg-white border-1px clearfix">
                    <div class="course-thumb">
                      <img class="img-fullwidth" alt="" src="http://engagex.tridotstech.com/files/sm4.jpg">
                      <div class="course-top-meta">
                        <ul class="list-inline">
                          <li><i class="ficon-heart font-14"></i>224 Likes</li>
                          <li><i class="lnr lnr-bullhorn font-14"></i>84 Share</li>
                        </ul>
                      </div>
                    </div>
                    <div class="course-details clearfix p-20 pt-15">
                      <div class="course-top-part">
                        <a href="/test"><h4 class="mt-5 mb-5">Nural Networking Course</h4></a>
                        <h5 class="text-gray font-12 mt-0">26th JUNE</h5>
                      </div>
                      <p class="course-description mt-15 mb-0">Lorem ipsum dolor sit amet, consec sectet urad cing elit. Nobis commodi esse aliquam eligend reprehenderit, numquam a odio</p>
                      <div class="author-thumb">
                        <img src="http://engagex.tridotstech.com/files/xs1.jpg" alt="" class="img-circle">
                      </div>
                    </div>
                    <div class="course-meta">
                      <ul class="list-inline">
                        <li><i class="lnr lnr-users font-20"></i>24 Seats</li>
                        <li><i class="ficon-clock font-18"></i>3 Hours</li>
                      </ul>
                      <div class="course-tag">
                        <h5>Free</h5>
                      </div>
                    </div>
                  </div>
                </div></div><div class="owl-item" style="width: 370px; margin-right: 15px;"><div class="item">
                  <div class="course-single-item bg-white border-1px clearfix">
                    <div class="course-thumb">
                      <img class="img-fullwidth" alt="" src="http://engagex.tridotstech.com/files/sm2.jpg">
                      <div class="course-top-meta">
                        <ul class="list-inline">
                          <li><i class="ficon-heart font-14"></i>224 Likes</li>
                          <li><i class="lnr lnr-bullhorn font-14"></i>84 Share</li>
                        </ul>
                      </div>
                    </div>
                    <div class="course-details clearfix p-20 pt-15">
                      <div class="course-top-part">
                        <a href="/test"><h4 class="mt-5 mb-5">Nural Networking Course</h4></a>
                        <h5 class="text-gray font-12 mt-0">26th JUNE</h5>
                      </div>
                      <p class="course-description mt-15 mb-0">Lorem ipsum dolor sit amet, consec sectet urad cing elit. Nobis commodi esse aliquam eligend reprehenderit, numquam a odio</p>
                      <div class="author-thumb">
                        <img src="http://engagex.tridotstech.com/files/xs1.jpg" alt="" class="img-circle">
                      </div>
                    </div>
                    <div class="course-meta">
                      <ul class="list-inline">
                        <li><i class="lnr lnr-users font-20"></i>24 Seats</li>
                        <li><i class="ficon-clock font-18"></i>3 Hours</li>
                      </ul>
                      <div class="course-tag">
                        <h5>$240</h5>
                      </div>
                    </div>
                  </div>
                </div></div><div class="owl-item active" style="width: 370px; margin-right: 15px;"><div class="item">
                  <div class="course-single-item bg-white border-1px clearfix">
                    <div class="course-thumb">
                      <img class="img-fullwidth" alt="" src="http://engagex.tridotstech.com/files/sm3.jpg">
                      <div class="course-top-meta">
                        <ul class="list-inline">
                          <li><i class="ficon-heart font-14"></i>224 Likes</li>
                          <li><i class="lnr lnr-bullhorn font-14"></i>84 Share</li>
                        </ul>
                      </div>
                    </div>
                    <div class="course-details clearfix p-20 pt-15">
                      <div class="course-top-part">
                        <a href="/test"><h4 class="mt-5 mb-5">Nural Networking Course</h4></a>
                        <h5 class="text-gray font-12 mt-0">26th JUNE</h5>
                      </div>
                      <p class="course-description mt-15 mb-0">Lorem ipsum dolor sit amet, consec sectet urad cing elit. Nobis commodi esse aliquam eligend reprehenderit, numquam a odio</p>
                      <div class="author-thumb">
                        <img src="http://engagex.tridotstech.com/files/xs1.jpg" alt="" class="img-circle">
                      </div>
                    </div>
                    <div class="course-meta">
                      <ul class="list-inline">
                        <li><i class="lnr lnr-users font-20"></i>24 Seats</li>
                        <li><i class="ficon-clock font-18"></i>3 Hours</li>
                      </ul>
                      <div class="course-tag">
                        <h5>$360</h5>
                      </div>
                    </div>
                  </div>
                </div></div><div class="owl-item active" style="width: 370px; margin-right: 15px;"><div class="item">
                  <div class="course-single-item bg-white border-1px clearfix">
                    <div class="course-thumb">
                      <img class="img-fullwidth" alt="" src="http://engagex.tridotstech.com/files/sm4.jpg">
                      <div class="course-top-meta">
                        <ul class="list-inline">
                          <li><i class="ficon-heart font-14"></i>224 Likes</li>
                          <li><i class="lnr lnr-bullhorn font-14"></i>84 Share</li>
                        </ul>
                      </div>
                    </div>
                    <div class="course-details clearfix p-20 pt-15">
                      <div class="course-top-part">
                        <a href="/test"><h4 class="mt-5 mb-5">Nural Networking Course</h4></a>
                        <h5 class="text-gray font-12 mt-0">26th JUNE</h5>
                      </div>
                      <p class="course-description mt-15 mb-0">Lorem ipsum dolor sit amet, consec sectet urad cing elit. Nobis commodi esse aliquam eligend reprehenderit, numquam a odio</p>
                      <div class="author-thumb">
                        <img src="http://engagex.tridotstech.com/files/xs1.jpg" alt="" class="img-circle">
                      </div>
                    </div>
                    <div class="course-meta">
                      <ul class="list-inline">
                        <li><i class="lnr lnr-users font-20"></i>24 Seats</li>
                        <li><i class="ficon-clock font-18"></i>3 Hours</li>
                      </ul>
                      <div class="course-tag">
                        <h5>Free</h5>
                      </div>
                    </div>
                  </div>
                </div></div><div class="owl-item cloned active" style="width: 370px; margin-right: 15px;"><div class="item">
                  <div class="course-single-item bg-white border-1px clearfix">
                    <div class="course-thumb">
                      <img class="img-fullwidth" alt="" src="http://engagex.tridotstech.com/files/sm4.jpg">
                      <div class="course-top-meta">
                        <ul class="list-inline">
                          <li><i class="ficon-heart font-14"></i>224 Likes</li>
                          <li><i class="lnr lnr-bullhorn font-14"></i>84 Share</li>
                        </ul>
                      </div>
                    </div>
                    <div class="course-details clearfix p-20 pt-15">
                      <div class="course-top-part">
                        <a href="/test"><h4 class="mt-5 mb-5">Nural Networking Course</h4></a>
                        <h5 class="text-gray font-12 mt-0">26th JUNE</h5>
                      </div>
                      <p class="course-description mt-15 mb-0">Lorem ipsum dolor sit amet, consec sectet urad cing elit. Nobis commodi esse aliquam eligend reprehenderit, numquam a odio</p>
                      <div class="author-thumb">
                        <img src="http://engagex.tridotstech.com/files/xs1.jpg" alt="" class="img-circle">
                      </div>
                    </div>
                    <div class="course-meta">
                      <ul class="list-inline">
                        <li><i class="lnr lnr-users font-20"></i>24 Seats</li>
                        <li><i class="ficon-clock font-18"></i>3 Hours</li>
                      </ul>
                      <div class="course-tag">
                        <h5>Free</h5>
                      </div>
                    </div>
                  </div>
                </div></div><div class="owl-item cloned" style="width: 370px; margin-right: 15px;"><div class="item">
                  <div class="course-single-item bg-white border-1px clearfix">
                    <div class="course-thumb">
                      <img class="img-fullwidth" alt="" src="http://engagex.tridotstech.com/files/sm2.jpg">
                      <div class="course-top-meta">
                        <ul class="list-inline">
                          <li><i class="ficon-heart font-14"></i>224 Likes</li>
                          <li><i class="lnr lnr-bullhorn font-14"></i>84 Share</li>
                        </ul>
                      </div>
                    </div>
                    <div class="course-details clearfix p-20 pt-15">
                      <div class="course-top-part">
                        <a href="/test"><h4 class="mt-5 mb-5">Nural Networking Course</h4></a>
                        <h5 class="text-gray font-12 mt-0">26th JUNE</h5>
                      </div>
                      <p class="course-description mt-15 mb-0">Lorem ipsum dolor sit amet, consec sectet urad cing elit. Nobis commodi esse aliquam eligend reprehenderit, numquam a odio</p>
                      <div class="author-thumb">
                        <img src="http://engagex.tridotstech.com/files/xs1.jpg" alt="" class="img-circle">
                      </div>
                    </div>
                    <div class="course-meta">
                      <ul class="list-inline">
                        <li><i class="lnr lnr-users font-20"></i>24 Seats</li>
                        <li><i class="ficon-clock font-18"></i>3 Hours</li>
                      </ul>
                      <div class="course-tag">
                        <h5>$240</h5>
                      </div>
                    </div>
                  </div>
                </div></div><div class="owl-item cloned" style="width: 370px; margin-right: 15px;"><div class="item">
                  <div class="course-single-item bg-white border-1px clearfix">
                    <div class="course-thumb">
                      <img class="img-fullwidth" alt="" src="http://engagex.tridotstech.com/files/sm3.jpg">
                      <div class="course-top-meta">
                        <ul class="list-inline">
                          <li><i class="ficon-heart font-14"></i>224 Likes</li>
                          <li><i class="lnr lnr-bullhorn font-14"></i>84 Share</li>
                        </ul>
                      </div>
                    </div>
                    <div class="course-details clearfix p-20 pt-15">
                      <div class="course-top-part">
                        <a href="/test"><h4 class="mt-5 mb-5">Nural Networking Course</h4></a>
                        <h5 class="text-gray font-12 mt-0">26th JUNE</h5>
                      </div>
                      <p class="course-description mt-15 mb-0">Lorem ipsum dolor sit amet, consec sectet urad cing elit. Nobis commodi esse aliquam eligend reprehenderit, numquam a odio</p>
                      <div class="author-thumb">
                        <img src="http://engagex.tridotstech.com/files/xs1.jpg" alt="" class="img-circle">
                      </div>
                    </div>
                    <div class="course-meta">
                      <ul class="list-inline">
                        <li><i class="lnr lnr-users font-20"></i>24 Seats</li>
                        <li><i class="ficon-clock font-18"></i>3 Hours</li>
                      </ul>
                      <div class="course-tag">
                        <h5>$360</h5>
                      </div>
                    </div>
                  </div>
                </div></div></div></div><div class="owl-nav"><button role="presentation" class="owl-prev"><i class="fa fa-chevron-left"></i></button><button role="presentation" class="owl-next"><i class="fa fa-chevron-right"></i></button></div><div class="owl-dots disabled"></div></div>
            </div>
          </div>
        </div>
      </div>
    </section>
    